@model ICollection<K19.Models.Aluno>

@{
    ViewBag.Title = "Lista";
}
<br />
@section Toolbar {
    <input class="alinhaBarraBusca" type="search" placeholder="Digite o nome do aluno" />
    <input type="button" value="Buscar"/>
}

<h2>Lista de Alunos</h2>

<table class="table table-hover table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col" title="ID">AlunoID</th>
            <th scope="col">Nome</th>
            <th scope="col" abbr="EML">E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in @Model)

        {
            <tr>
                <td scope="row">@a.AlunoID</td>
                <td>@a.Nome</td>
                <td>@a.Email</td>
            </tr>
        }
    </tbody>
</table>

